/* Typography */

body {
	font-size: 26px;
}

.large {
	font-size: 32px;
}

body a {
	font-weight: normal;
}

blockquote cite {
	float: right;
}

/* lists */

li {
	line-height: 1.3em;
	text-indent: 0;
}

li:before {
	left: -1em;
	margin-left: -0.5em;
}

/* definition lists*/

dl {
	float: left;
	width: 100%;
	border-bottom: 1px solid #ccc;
	margin-bottom: 50px;
	line-height:1.5em;
}

dl + * {
	clear: both;
}

dt {
	float: left;
	clear: left;
	width: 30%;
	padding: 10px 0;
	border-top: 1px solid #ccc;
	color: #C00000;
	font-weight:600;
}

dd {
	float: left;
	width: 70%;
	margin-left: 0;
	padding: 10px 0;
	border-top: 1px solid #ccc;
}

dd + dt {
	margin-top: 0;
}

/* images */

figure {
	margin: 1em 0;
}

figcaption {
	font-size: 16px;
}